<head>
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
        {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <!-- JS -->
    <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <script async id="dsq-count-scr" src="//cuyu.disqus.com/count.js"></script>

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

</head>
