---
layout: default-with-comment
---

<article class="post">

    <h1 class="post-title">{{ page.title }}</h1>
    <div class="DateInfo">
        <span class="post-date">{{ page.date | date: "%B %d, %Y" }}</span>
        <span class="sep">|</span>
        {% if page.category %}
        <div class="post-category inline-label">
            <a href="/categories/#{{ page.category }}" class="post-category"> {{ page.category }} <sup>{{ site.categories[page.category].size }}</sup></a>
        </div>
        {% endif %}
        <span class="sep">|</span>
        {% for tag in page.tags %}
        <div class="post-tag inline-label">
            <a href="/tags/#{{ tag }}" class="post-tag"> {{ tag }} <sup>{{ site.tags[tag].size }}</sup></a>
        </div>
        {% endfor %}
    </div>
    <div class="post-content">{{ content }}</div>

</article>

<div class="bottom-nav">
    {% if page.previous %}
        <a href="{{ page.previous.url }}"><span class="fa fa-step-backward" id="previous-logo"></span><span
            class="bottom-nav-title">{{ page.previous.title }}</span></a>
    {% endif %}
    {% if page.next %}
        <a href="{{ page.next.url }}"><span class="fa fa-step-forward" id="next-logo"></span><span
                class="bottom-nav-title">{{ page.next.title }}</span></a>
    {% endif %}
</div>

<div class="site-stats">
    Article Viewed: <span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-spin"></i></span> times
</div>
